<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <title>Express Retake Exam January 2021</title>
        <link
            rel='stylesheet'
            href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
            integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
            crossorigin='anonymous'
        />
        {{! <link href='./css/style.css' rel='stylesheet' type='text/css' /> }}
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>

    </head>
    <style>
        /* body { font-size: 40px; } */ .card { min-width: 18rem; max-width:
        18rem; } .card-img-top { width: 100%; height: 15vw; object-fit: cover; }
        .btn-group { margin-right: 20px; } .badge { margin-left: 10px; }
        .enrolled-span { text-decoration: underline; background-color: green;
        color: white; padding: 2%; border-radius: 4px; } .notifications {
        background-color: rgba(240, 46, 46, 0.699); margin: 0 auto; text-align:
        center; padding: 1%; margin-top: 2%; margin-bottom: 2%; border-radius:
        6px; color: white; font-style: italic; text-decoration: underline;
        box-shadow: 0 5px 10px #cccccc; } #successBox, #loadingBox, #errorBox {
        text-align: center; } .alert-success { visibility: hidden; /*
        text-align: center; */ } .alert-info { visibility: hidden; /*
        text-align: center; */ } .alert-danger { visibility: hidden; /*
        text-align: center; */ } .visible { visibility: visible !important; }

    </style>
    <body>
        <div class='container'>
            <nav class='navbar navbar-expand-lg navbar-light bg-light'>
                <a class='navbar-brand'>Video Tutorials</a>

                <ul class='navbar-nav ml-auto'>

                    <li class='nav-item'>
                        <a class='nav-link' href={{homePage data_id}}>Home </a>
                    </li>

                    <li class='nav-item'>
                        <a class='nav-link' href=''>Welcome,
                            {{data.username}}</a>
                    </li>

                    <li class='nav-item'>
                        <a
                            class='nav-link'
                            href={{logOutSrc data._id}}
                        >Logout</a>
                    </li>
                </ul>
            </nav>

            <div id='notifications'>
                <div
                    id='successBox'
                    class='alert successBox alert-success'
                    role='alert'
                >
                    <p class='success-message'></p>
                </div>
                <div
                    id='loadingBox'
                    class='alert loadigBox alert-info'
                    role='alert'
                ><p class='loading-message'></p></div>
                <div
                    id='errorBox'
                    class='alert alertBox alert-danger'
                    role='alert'
                >
                    <p class='error-message'></p>
                </div>
            </div>

            <main>
                <div class='container'>
                    <h1 class='my-4'>Course title :
                        {{course.title}}
                    </h1>

                    <div class='row'>

                        <div class='col-md-8'>
                            <img
                                class='img-fluid'
                                src={{course.imageUrl}}
                                alt='Express'
                            />
                        </div>

                        <div class='col-md-4 text-center'>
                            <h3 class='my-3'>Course Description</h3>
                            <p>{{course.description}}</p>
                            {{#if creator}}
                                <a
                                    class='btn btn-danger'
                                    onclick={{{deleteCourse course._id}}}
                                    href=''
                                >Delete</a>
                                <a
                                    class='btn btn-warning'
                                    onclick=''
                                    href='{{{updateCourse
                                        data._id
                                        course._id
                                    }}}'
                                >Edit</a>
                            {{else}}
                                {{#if isEnrolled}}
                                    <span class='enrolled-span'>You are already
                                        enrolled</span>
                                {{else}}
                                    <a
                                        class='btn btn-primary'
                                        onclick='{{{enrollCourse
                                            data._id
                                            course._id
                                        }}}'
                                        href=''
                                    >Enroll</a>
                                {{/if}}
                            {{/if}}

                        </div>
                    </div>
                </div>
            </main>

            <footer class='page-footer font-small'>
                <div class='footer-copyright text-center py-3'>© 2021
                    <a href={{homePage data._id}}>Express Fundamentals</a>
                </div>
            </footer>

        </div>
    </body>
    {{! <script src='./logic/course-details.js'></script> }}
    <script>
        const successBox = document.getElementById('successBox'); const
        loadingBox = document.getElementById('loadingBox'); const errorBox =
        document.getElementById('errorBox'); const deleteCourse = async (id,
        userId) => { try { await axios.delete(`/api/v1/courses/${id}`);
        window.location.replace(`/home/${userId}`); } catch (err) {
        console.log(err); } }; const enrollCourse = async (userId, courseId) =>
        { try { await axios.put(`/api/v1/courses/enroll`, { userId: userId,
        courseId: courseId, }); alertMessage(successBox, 'success-message',
        'Enrolled'); location.reload(); } catch (err) { console.log(err); } };
        const alertMessage = (element, messageClass, message) => {
        element.classList.toggle('visible'); const innerMessage =
        document.querySelector(`.${messageClass}`); innerMessage.innerHTML =
        message; timeout = setTimeout(() => {
        element.classList.toggle('visible'); }, 5000); return timeout; };

    </script>
</html>